/* #region common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* #endregion common */

/* #region utilities */

:root {
    --bl-orange: #ff6900;
    --bl-grey: #e1e1e1;
    --bl-red: #ff0000;
    --bl-green: #007f00;
    --bl-dark: #1a1a1a;
}

.container {
    width: 70%;
    max-width: 1176px;
    margin: auto;
    align-items: center;
}

.d-felx {
    display: flex;
}

.sp-bw {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

/* #endregion utilities */

/* #region header */

#app-header {
    background-color: var(--bl-orange);
    position: sticky;
}

#app-header a {
    color: white;
    text-decoration: none;
}

#app-header li {
    font-size: 1rem;
    list-style: none;
    display: inline-block;
}

.logo img {
    width: 150px;
    margin: 1rem auto;
}

/* #endregion header */

/* #region main */

.row {
    margin: 2rem auto;
    justify-content: space-between;
}

.col4 {
    width: 32%;
}

img {
    max-width: 100%;
}

.card {
    position: relative;
}

.badge-red {
    width: 40px;
    height: 20px;
    position: absolute;
    background-color: var(--bl-red);
    font-size: 10px;
    padding: 0.2rem 0.4rem;
    color: white;
    bottom: 10%;
    left: 0;
}

.badge-green {
    width: 80px;
    height: 20px;
    position: absolute;
    background-color: var(--bl-green);
    font-size: 10px;
    padding: 0.2rem 0.5rem;
    color: white;
    bottom: 10%;
    left: 15%;
}

.like{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    padding: 0.7rem;
    top: 5%;
    right: 0;
}

.description{
    margin-bottom: 2rem;
}

.brand{
    font-size: 0.7rem;
}

.cost{
    font-size: 0.9rem;
    color: var(--bl-red);
}
/* #endregion main */